@model IEnumerable<LeHuuTam.Models.Products>
@{
    ViewData["Title"] = "List Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h2 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h2>
        <div class="arrow">
            <button class="btn btn-link btn-sm btnThem" data-toggle="modal" data-target="#model" aria-expanded="false">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align:center">STT</th>
                    <th style="text-align:center">Brand</th>
                    <th style="text-align:center">Model</th>
                    <th style="text-align:center">Price</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">Stock</th>
                    <th style="text-align:center">ImageUrl</th>
                    <th style="text-align:center">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var product in Model)
                {
                    <tr>
                        <td style="text-align:center">@index</td>
                        <td>@product.Brand</td>
                        <td>@product.Model</td>
                        <td>@product.Price</td>
                        <td>@product.Description</td>
                        <td>@product.Stock</td>
                        <td>@product.ImageUrl</td>
                        <td style="text-align:center">
                            <button data-id="@product.Id" class="btn btn-info btn-sm btnXem">Xem</button>
                            <button data-id="@product.Id" class="btn btn-warning btn-sm btnSua">Sửa</button>
                            <button data-id="@product.Id" class="btn btn-danger btn-sm btnXoa" data-toggle="modal" data-target="#modelDelete">Xóa</button>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tiêu đề Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="btnSaveChanges">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Xác Nhận -->
    <div class="modal fade" id="modelDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Xóa Sản Phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa Sản Phẩm này?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <style>

        .modal-dialog {
            width: auto; /* Để modal tự động điều chỉnh */
            max-width: 50%; /* Để đảm bảo không vượt quá 90% chiều rộng màn hình */
        }

    </style>
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                // Cấu hình DataTable
            });

            // Xem
            $(document).on('click', '.btnXem', function () {
                const id = $(this).data('id');
                $("#btnSaveChanges").hide();
                $.ajax({
                    url: "/admin/Products/GetProductsById",
                    type: "GET",
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            const product = response.data;
                            console.log("product",product)
                            $('#model .modal-title').text("Thông Tin Sản Phẩm");
                            $('#model .modal-body').html(`
                                        <p><strong>Brand:</strong> ${product.brand}</p>
                                        <p><strong>Model:</strong> ${product.model}</p>
                                        <p><strong>Price:</strong> ${product.price}</p>
                                        <p><strong>Description:</strong> ${product.description}</p>
                                        <p><strong>Stock:</strong> ${product.stock}</p>
                                        <p><strong>ImageUrl:</strong> ${product.imageUrl}</p>
                                    `);
                            $('#model').modal('show');
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi trong khi lấy thông tin Sản Phẩm.");
                    }
                });
            });

            // Sửa
            $(document).on('click', '.btnSua', function () {
                const id = $(this).data('id');
                $('#btnSaveChanges').data('id', id);
                $("#btnSaveChanges").show();
                $.ajax({
                    url: "/admin/Products/GetProductsById",
                    type: "GET",
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            const product = response.data;

                            console.log("product", product)
                            $('#model .modal-title').text("Sửa Sản Phẩm");
                            $('#model .modal-body').html(`
                                        <div class="form-group">
                                            <label for="Brand">Brand</label>
                                            <input class="form-control" type="text" id="Brand" value="${product.brand}" />
                                            <br/>
                                            <label for="Model">Model</label>
                                            <input class="form-control" type="text" id="Model" value="${product.model}" />
                                            <br/>
                                            <label for="Price">Price</label>
                                            <input class="form-control" type="text" id="Price" value="${product.price}" />
                                            <br/>
                                            <label for="Description">Description</label>
                                            <textarea style="height: 150px;" class="form-control" id="Description">${product.description}</textarea>
                                            <br/>
                                            <label for="Stock">Stock</label>
                                            <input class="form-control" type="text" id="Stock" value="${product.stock}" />
                                            <br/>
                                            <label for="ImageUrl">ImageUrl</label>
                                            <input class="form-control" type="text" id="ImageUrl" value="${product.imageUrl}" />
                                            <br/>
                                        </div>
                                    `);
                            $('#model').modal('show');
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi trong khi lấy thông tin Sản Phẩm.");
                    }
                });
            });

            // Xóa
            $(document).on('click', '.btnXoa', function () {
                const id = $(this).data('id');
                $('#btnConfirmDelete').data('id', id);
                $('#modelDelete').modal('show');
            });

            // Xóa
            $(document).on('click', '.btnXoa', function () {
                const id = $(this).data('id');
                $('#btnConfirmDelete').data('id', id);
                $('#modelDelete').modal('show');
            });

            $(document).on('click', '#btnConfirmDelete', function () {
                const id = $(this).data('id');
                if (id) {
                    $.ajax({
                        url: "/admin/Products/DeleteProduct",
                        type: "DELETE",
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                alert("Xóa Sản Phẩm thành công!");
                                $('#modelDelete').modal('hide');
                                location.reload();
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("Đã xảy ra lỗi trong khi xóa Sản Phẩm.");
                        }
                    });
                } else {
                    alert("ID không hợp lệ!");
                }
            });

            // Thêm
            $(document).on('click', '.btnThem', function () {
                $('#btnSaveChanges').data('id', null);
                $("#btnSaveChanges").show();
                $('#model .modal-title').text("Thêm Sản Phẩm");
                $('#model .modal-body').html(`
                            <div class="form-group">
                                <label for="Brand">Brand</label>
                                <input class="form-control" type="text" id="Brand" />
                                <br/>
                                <label for="Model">Model</label>
                                <input class="form-control" type="text" id="Model" />
                                <br/>
                                <label for="Price">Price</label>
                                <input class="form-control" type="text" id="Price" />
                                <br/>
                                <label for="Description">Description</label>
                                <input class="form-control" type="text" id="Description" />
                                <br/>
                                <label for="Stock">Stock</label>
                                <input class="form-control" type="text" id="Stock" />
                                <br/>
                                <label for="ImageUrl">ImageUrl</label>
                                <input class="form-control" type="text" id="ImageUrl" />
                                <br/>
                            </div>
                        `);
                $('#model').modal('show');
            });

            // Lưu thay đổi
            $('#btnSaveChanges').on('click', function () {
                const id = $(this).data('id');
                const productData = {
                    Id: id,
                    Brand: $('#Brand').val(),
                    Model: $('#Model').val(),
                    Price: $('#Price').val(),
                    Description: $('#Description').val(),
                    Stock: $('#Stock').val(),
                    ImageUrl: $('#ImageUrl').val()
                };

                const url = id ? "/admin/Products/UpdateProduct" : "/admin/Products/AddProduct";
                const type = id ? "PUT" : "POST";

                $.ajax({
                    url: url,
                    type: type,
                    data: productData,
                    success: function (response) {
                        if (response.success) {
                            alert("Lưu thay đổi thành công!");
                            $('#model').modal('hide');
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi trong khi lưu thay đổi.");
                    }
                });
            });
        });
    </script>
}
